@charset "UTF-8"; /*Criação de regra para não ocorrerem problemas de identificação de caracteres*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(190, 66, 21, 0.644);
    width: 350px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 1px #865004b6;
    background-color: rgba(223, 219, 219, 0.712);
    width: 150px;
    padding: 5px;
    margin: auto;
    box-shadow: 2px 2px 3px rgb(134, 128, 128);
}
h2 {
    color: #125189;
}
p {
    text-align: justify;
}